{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>Нур Демир Туризм</title>
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
  <div class="container">
    <h1>Добро пожаловать в Нур Демир Туризм</h1>
    <p>Наша цель — подарить вам незабываемые путешествия!</p>

    <h2>Категории туров</h2>
    <ul>
      {% for category in categories %}
        <li>
          <a href="{% url 'category_detail' category.id %}">{{ category.name }}</a>
        </li>
      {% endfor %}
    </ul>
  </div>
</body>
</html>
